/****** RESET ******/
 body {

    margin: 500;
    padding: 0;
    background-color: #FFF;
    font-size: 100%;
    font-weight: arial, helvetica, sans-serif;
    background-color: #EEE;
}
.inputWrapper {
	border: solid 1px #CCC;
	padding: 5px;
	background-color: #FFF;
	border-radius: 10px;
}

form {
	padding: 30px;
}


.startButton {
    margin: 10px ;
}
.startButton button {
	border: solid 1px #CCC;
	padding: 5px;
	margin:  0 20px;
	width: 80%;
}
.inputFields input {
	border: solid 1px #CCC;
	border-radius: 5px;
	padding: 5px;
	text-align: left;
	width: 80%;

}

