/*Input Page*/

body {
    margin: 0;
    padding: 0;
    background-color: #EEE;
    font-size: 90%;
    font-family: "Calibri", arial;
}
.header {
    position: fixed;
    background-color: #FFF;
    border-bottom: solid 1px #DDD;
    width: 100%;
    top: 0;
    height: 60px;
}
a.fa.fa-home {       
    float: left;
    font-size: 2.5em;
    margin: 20px 10px 0px 20px ;
    color: #4AA;
    font-weight: normal;
}
a {
    text-decoration: none;
}
#instructions {
    width: 100%;
    background-color: #000;
    height: 100%;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
    opacity: .8;
    visibility: visible;
    z-index: 10;
}
i.fa.fa-times {
    float: right;
    margin: 1em;
    font-size: 2em;
    color: #fff;
}
#instructionsContent { 
    position: relative;
    z-index: 20;
    visibility: visible;
    width: 100%;
    margin: 1em auto;
    font-family: 'Patrick Hand', cursive, 'comic-sans','Rancho'; 
    color: white;
    text-align: left;
}
#instructionsContentWrapper {
    width: 90%;
    font-size: 1.3em;
    margin: 0 auto; 
    padding: 0;
    background-color: transparent;
}
.headline1 { 
    font-size: 2em;
    margin: 1em 0 0 0;
    padding: 0;
}

#instructionsContent ul {
    text-align: left;
    margin: 0 auto;
}
#instructionsContent li {
}
input#slider {
    width: 98%;
}
.wrapper {
    border: solid 1px #CCC;
    padding: 15px 25px 5px 20px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 75px 15px 15px 15px;
    height: auto;
}
.startButton {
    margin: 5px ;
}
.startButton button {
    padding: 15px;
    width: 100%;
    background-color: green;
    font-weight: bold;
    color: #FFF;
}
.inputFields input {
    border: solid 1px #CCC;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.modeButtons {
    width: 90%;
    margin: 5px auto;
    display: flex;
}
.ui-radio {
    width: 49%;
    margin: 0;
    float: left;
}
label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left {
    font-size: .9em;
}
.footer {
    background-color: #555;
    width: 100%;
    bottom: 0;
    padding: 10px 0px;
    position: relative;
}
a.fa.fa-github {
    color: #FFF;
    font-size: 2.5em;
    margin: 10px 0px 0px 20px;
}
.footer p {
    color: #FFF;
    font-size: .7em;
    margin: 10px 0px 0px 20px;
}

/*locked*/ 

.side  {
    float: left;
    width: 50%;
    text-align: center;
    border-radius: 5px;    
}
.innerSide {
    height: 215px;
    padding: 5px;
    margin: 8px;
    background-color: #EEE;
}
.timeBox {
    border: solid 1px #ccc;
    padding: 1em;
    text-align: center;
    background-color: white;
    margin: 0px -9px;
}
<<<<<<< HEAD
.timeBox .bz{
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    background-color: #003842; 
    color: white;
}
=======

>>>>>>> origin/master
button {
    border:none;
    padding:1em;
    background-color: #FFC9A7;
    margin: 10px 0;
    font-weight: bold;
    color: #555;
}
button:active {
    background-color:#003842;
    color: #FFF;
}
.start {
    background-color: green;   
    font-weight: bold;
    color: #FFF;
    transition-duration: 1s; 
}
.buttonBox {
    margin:5px auto;
    text-align:center;
}
.end {
    width:100%;
    border: solid 1px #CCC;
    margin: 5px 0px;
}
.sideA, .sideB {
    transition-duration: 1.5s; 
}
 #startA, #startB {
    transition-duration: .5s; 
}
h2 {
    text-align: center;
    font-size: 1.25em;
    margin: 0 auto 10px auto;
}
button.fa.fa-refresh {
    top: 5px;
    position: absolute;
    right: 10px;
    width: 50px;
}

* {
    text-shadow:0 0 0 transparent;
    text-shadow:none;
}

// Styles for Unlocked Screen
.container {background-color: #DDCDB8; width: 100%; text-align: center; margin: 5px auto; padding:0;}
.speaker {padding: 0; width: 50%; text-align: center; height: 300px; margin: 0;}
.a {background-color:  #97BFBE; float: left;}
.b {background-color: #BCD0C4; float: right;}
.button {width: 100%; background-color: #DDCDB8; margin: 5px 0; text-align: center; clear: both; }
#runningTimer {width: 100%; text-align: center; padding: 10px; background-color: #003842; color: white;}
h1 {font-weight: normal;}
.endActive { background-color: red;}

 
@media (min-width: 600px) {
    #instructionsContentWrapper {
        width: 60%;
        font-size: 1.5em;
    }
}
@media (min-width: 1024px) {
    #instructionsContentWrapper {
        width: 40%;
        font-size: 1.7em;
    }
}
 
