/*Input Page*/

body {
    margin: 0;
    padding: 0;
    background-color: #EEE;
    font-size: 90%;
    font-family: "Calibri", arial;
}
.header {
    position: fixed;
    background-color: #FFF;
    border-bottom: solid 1px #DDD;
    width: 100%;
    top: 0;
    height: 60px;
}
a.fa.fa-home {       
    float: left;
    font-size: 2.5em;
    margin: 20px 10px 0px 20px ;
    color: #4AA;
    font-weight: normal;
}
a {
    text-decoration: none;
}
#instructions {
    width: 100%;
    background-color: #000;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: .9;
    visibility: visible;
    z-index: 10;
}

#instructionsContent { 
    position: absolute;
    z-index: 999;
    visibility: visible;
    width: 100%;
    padding: 20px;
    font-family: 'Patrick Hand', cursive, 'comic-sans'; color: white;
    font-size: 20px; 
}
#instructionsContent div {margin: auto; width: auto;}
#instructionsContent div p.headline1 { 
    font-size: 40px; text-align: center;
}

i.fa.fa-times {
    float: right;
    margin: 10px;
    font-size: 2.5em;
    color: #fff;
}
#instructions div{
    margin: 30px auto;
    width: 75%;
    padding: 20px;
    background-color: white;
    color: black;
    opacity: 1.0;
    opacity: 1;
}
#instructions p{
    font-weight: normal;
    font-size: 1.5em;
    line-height: 140%;
}
#instructions h1 {text-align: center; color: black; font-weight: bold;}

input#slider {
    width: 98%;
}
.wrapper {
    border: solid 1px #CCC;
    padding: 15px 25px 5px 20px;
    background-color: #FFF;
    border-radius: 10px;
    margin: 75px 15px 10px 15px;
    height: auto;
}
.startButton {
    margin: 5px ;
}
.startButton button {
    padding: 15px;
    width: 100%;
    background-color: green;
    font-weight: bold;
    color: #FFF;
}
.inputFields input {
    border: solid 1px #CCC;
    border-radius: 5px;
    padding: 5px;
    text-align: left;
}
.chooseMode {
    margin-bottom: 10px;
    display: flex;
}
.chooseMode span {
    margin: 60px 100px 0px 0px;
    display: inline;
    float: left;
}
.ui-radio {
    display: inline;
    float: left;
}
.footer {
    background-color: #555;
    width: 100%;
    bottom: 0;
    padding: 10px 0px;
    position: relative;
}
a.fa.fa-github {
    color: #FFF;
    font-size: 2.5em;
    margin: 10px 0px 0px 20px;
}
.footer p {
    color: #FFF;
    font-size: .7em;
    margin: 10px 0px 0px 20px;
}

/*locked*/ 

.side  {
    float: left;
    width: 50%;
    text-align: center;
    border-radius: 5px;

    
}
.innerSide {
    height: 215px;
    padding: 5px;
    margin: 8px;
    background-color: #EEE;
}
 
.timeBox {
    border: solid 1px #ccc;
    padding: 1em;
    text-align: center;
    background-color: white;
    margin: 0px -9px;
}
.timeBox .bz{
    width: 100%; 
    text-align: center; 
    padding: 10px; 
    background-color: #003842; 
    color: white;
}

button {
    border:none;
    padding:1em;
    background-color: #FFC9A7;
    margin: 10px 0;
    font-weight: bold;
    color: #555;
}
button:active {
    background-color:#003842;
    color: #FFF;
}
.start {
    background-color: green;   
    font-weight: bold;
    color: #FFF;
    transition-duration: 1s; 
}
.buttonBox {
    margin:5px auto;
    text-align:center;
}
.end {
    width:100%;
    border: solid 1px #CCC;
    margin: 5px 0px;
}

.sideA, .sideB  {
    transition-duration: 1.5s; 
}

 #startA, #startB {
    transition-duration: .5s; 
}
h2 {
    text-align: center;
}
button.fa.fa-refresh {
    top: 5px;
    position: absolute;
    right: 10px;
    width: 50px;
}
// Styles for Unlocked Screen
.container {background-color: #DDCDB8; width: 100%; text-align: center; margin: 5px auto; padding:0;}
.speaker {padding: 0; width: 50%; text-align: center; height: 300px; margin: 0;}
.a {background-color:  #97BFBE; float: left;}
.b {background-color: #BCD0C4; float: right;}
.button {width: 100%; background-color: #DDCDB8; margin: 5px 0; text-align: center; clear: both; }
#runningTimer {width: 100%; text-align: center; padding: 10px; background-color: #003842; color: white;}
h1 {font-weight: normal;}
.endActive { background-color: red;}

* {
    text-shadow:0 0 0 transparent;
    text-shadow:none;
}

<<<<<<< HEAD
=======
//coachmarks screen
#instructionsContent { 
    background-color: pink;
    position: fixed; 
    margin: 50 auto;
    border: thick solid green;
}
#instructionsContent headline1 {font-family: 'Patrick Hand', cursive, 'comic-sans'; color: purple;}
>>>>>>> c8abeb2f82847bbc718c26ae6b44e7e8ab6bf63b
