<style>
#timeBox {
    border:solid 1px #EEE;
    padding:1em;
    text-align:center;
}
button {
    border:none;
    padding:1em;
    width:25%;
}
#buttonBox {
    margin:5px auto;
    text-align:center;
}
#end {
    width:100%;
}
button:active {
    background-color:#FFF;
}
</style> 